<footer class="border-top">
  <div class="container mt-3">
    <div class="d-flex justify-content-left">
      <a class="logo text-secondary" routerLink="/">Blog in Angular & Appwrite</a>
    </div>
    <hr class="my-3 text-secondary">
    <div class="row text-light">
      <div class="d-flex justify-content-between">
        <ul class="list-inline footer-icons">
          <li class="list-inline-item  text-center">
            <a class=" text-decoration-none" href="https://github.com/TomaszKedziorek/BlogAngularApp">
              <i class="fs-2 bi bi-github"></i>
            </a>
          </li>
          <li class="list-inline-item text-center">
            <a class="text-decoration-none" href="https://tomasz-kedziorek.profesjonalnyprogramista.pl/">
              <i class="fs-2 bi bi-person-circle"></i>
            </a>
          </li>
        </ul>
        <ul class="list-inline mt-2">
          <li class="list-inline-item">
            <a class="" routerLink="/">Home</a>
          </li>
          <li class="list-inline-item">
            <a class="" routerLink="/about">About</a>
          </li>
          <li class="list-inline-item">
            <a class="" routerLink="/terms-conditions">Terms & Conditions</a>
          </li>
          <li class="list-inline-item">
            <a class="" routerLink="/contact">Contact</a>
          </li>
        </ul>
      </div>

    </div>
  </div>

  <div class="w-100 bg-black">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p class="text-left text-light my-1">
            Copyright &copy; 2023 Angular Blog
          </p>
        </div>
      </div>
    </div>
  </div>

</footer>