<section class="container mt-5">
  <div class="container my-5 p-5 shadow-effect">
  
      <h1 class="text-center mb-5">About Us</h1>
      <p class="fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde excepturi nostrum aliquam est quam nemo, libero labore molestias repellat nulla, neque error. Nemo inventore libero nihil ratione quod pariatur fugit?</p>
      <p class="fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde excepturi nostrum aliquam est quam nemo, libero labore molestias repellat nulla, neque error. Nemo inventore libero nihil ratione quod pariatur fugit?</p>
      <p class="fs-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Unde excepturi nostrum aliquam est quam nemo, libero labore molestias repellat nulla, neque error. Nemo inventore libero nihil ratione quod pariatur fugit?</p>
     
      <div class="text-center mt-5">
        <button class="btn btn-primary" routerLink="/">Back to Home</button>
      </div>

  </div>
</section>